
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height:315px;
  }

  body {
    color: #404040;
    font: 400 15px/22px 'Poppins', 'Martel', Sans-serif;
    font-family: 400 15px/22px 'Poppins', 'Martel', Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .sidebar {
    position: absolute;
    width: 33%;
    height: 99%;
    top: 0;
    left: 0;
    overflow: hidden;
    /* border-right: 1px solid rgba(0, 0, 0, 0.25); */
    z-index: 2;
  }

  .pad2 {
    padding: 20px;
  }

  .map {
    position: absolute;
    left: 33.3333%;
    width: 66%;
    top: 0;
    bottom: 0;
  }

  /* h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
  } */

  a {
    color: #404040;
    text-decoration: none;
  }

  a:hover {
    color: #101010;
  }

  .heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    min-height: 40px;
    line-height: 10px;
    padding: 0 5px;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    /* color: #fff; */
  }

  .listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 2px;
    background-color: #FFFF;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }

  .listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    padding-bottom: 30px;
    text-decoration: none;
  }

  .listings .item:last-child {
    border-bottom: none;
  }

  .listings .item .title {
    display: block;
    color: #342c5f;
    font-weight: 700;
  }

  .listings .item .title small {
    font-weight: 400;
  }

  .listings .item.active .title,
  .listings .item .title:hover {
    color: #f2d7ca;
  }

  .listings .item.active {
    background-color: #f8f8f8;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
  }

  .marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url(../assets/images/marker.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
  }

  .vote_icon {
    height: 56px;
    width: 56px;
    float: left;

  }

  .clearfix {
    display: block;
  }

  .clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  /* The Overlay (background) */

  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0%;
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    right: 0;
    top: 0;
    background-color: #404040;
    /* Black fallback color */
    background-color: #404040c6;
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    display: block;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  /* Position the content inside the overlay */

  .modal {
    max-height: calc(100% - 100px);
    position: fixed;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #404040c6;
  }

  .overlay-content {
    position: relative;
    /* top: 5%; /* 25% from the top */
    /* width: 100%; */
    /* 100% width */
    text-align: left;
    /* Centered text/links */
    margin: auto;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
    margin-left: 33%;
  }
  /* The navigation links inside the overlay */
  #overlay-geolocate {
    width: fit-content;
    /* float: left; */
  }

  p {
    padding: 5px;
  }


  .overlay  {
    /* padding: 8px; */
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    /* display: block; */
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
  }
  /* When you mouse over the navigation links, change their color */

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  /* Position the close button (top right corner) */

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  #menu {
    /* background: #fff; */
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 15px;
    /* border-radius: 20px;
    width: 36px;
    height: 36px; */
    /* border: 1px solid rgba(0,0,0,0.4); */
    /* font-family: 400 15px/22px 'Poppins', 'Martel', Sans-serif; */
  }

  /* #menu a {
    font-size: 13px;
    color: white;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  #menu a:last-child {
    border: none;
  }

  #menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
  }

  #menu a.active {
    background-color: #3887be;
    color: #ffffff;
  }

  #menu a.active:hover {
    background: #3074a4;
  } */

  @media screen and (max-width: 1000px) {
    #menu {
      top: 6%;
    }
    #myNav {
      /* width: 100%; */
    }
    .overlay-content {
      margin-left: auto;
    }
    .video-container {
      margin-left: auto;
    }
  }
  /* Marker tweaks */

  .mapboxgl-popup {
    padding-bottom: 50px;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }

  .mapboxgl-popup-content {
    font: 400 15px/22px 'Poppins', Sans-serif;
    padding: 0;
    width: 180px;
  }

  .mapboxgl-popup-content-wrapper {
    padding: 1%;
  }

  .mapboxgl-popup-content h3 {
    background: #342c5f;
    color: #fff;
    margin: 0;
    display: block;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -5px;
  }

  .mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px 10px 10px 10px;
    font-weight: 400;
  }

  .mapboxgl-popup-content div {
    padding: 10px;
  }

  .mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #342c5f;
  }

  .mapboxgl-ctrl-geocoder {
    border: 2px solid #00853e;
    border-radius: 0;
    position: relative;
    top: 0;
    width: 800px;
    margin-top: 0;
    border: 0;
    font: 'Martel';
  }

  input[type="text"] {
      font: 400 15px/22px 'Martel', Sans-serif;
  }

  .suggestions {
    font-family: 400 15px/22px 'Poppins', Sans-serif;
  }


  /* .geocoder {
  position:absolute;
  z-index:3;
  width:50%;
  left:50%;
  margin-left:-25%;
  top:20px;
} */

  .mapboxgl-ctrl-top-right .mapboxgl-ctrl{
    float: left;
  }
